.awesome {
  height: 775px;
  padding-top: 50px;
  text-align: center;
}

.content__heading {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 53px 0;
}

.content__separator {
  margin: 0 auto;
  width: 15%;
  border: 1px solid #EC7979;
  height: 0;
  border-bottom: none;
}

.content__desc {
  margin: 40px auto 55px;
}

.awesome__main {
  margin: 55px 0 50px;
  height: 383px;
  display: flex; 
  justify-content: space-between;
}

.main__section {
  width: 100%;
  margin: 15px 0 0 0;
}

.section__title {
  height: 100px;
  padding: 30px 0;
}

.section__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  padding: 0 15px;
}
