.contacts {
  text-align: center;
  height: 722px;
  padding-top: 50px;
}

.contact__form {
  display: flex;
  padding-top: 35px;
  width: 100%;
  justify-content: space-between;
}
.contact__form > .form__item{
  width: 49%;
}
.contact__form input {
  height: 38px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  margin-bottom: 50px;
  margin-right: 30px;
  outline: none;
}

.form__message {
  height: 214px;
  width: 49%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: none;
  outline: none;
  border-bottom: 1px solid #BDBDBD;
}

.contacts button {
  width: 30%;
}
