
.footer__social>a {
  margin: 0 10px;
  text-decoration: none;

}

.footer p {
  color: rgba(255, 255, 255, 0.5);
}

.footer {
  height: 164px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  max-width: 100%;
}
.footer__social {
width: 100%;
    text-align: center;
}
.footer__image {
max-width: 33%;

}