.page-header {
  height: 75px;
  color: #fff;
  position:fixed;
  width: 100%;
  top: 0;
  left: 0;
z-index: 1;
}
.page-header::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;

}

.pege-header__body{
  position: relative;
}
.page-header__burger{
  display: none;
  }

  .main-nav__logo {
    padding: 19px 0 19px 115px;
  z-index: 3;
  }
  
  .main-nav__item {
    list-style-type: none;
  
    min-width: 113px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 28px 0;

  }
  .main-nav__item:hover{
  background: #EC7979;
  }
  .main-nav__item:active{
    background: #AB4949;
  }
  
  .main-nav__link {
    text-decoration: none;
    color: #fff;
  }
  .main-nav{
    display: flex;
    justify-content: space-between;
  }
  .main-nav__list{
    display: flex;
    padding-right: 10%;
    z-index: 2;
  }



