@media (max-width: 1024px) {
  .container {
    min-width: 100%;
    padding: 0 15px;
  }

  .banner>.container {
    max-width: 100%;
    padding-left: 10%;
  }

  .content__title {
    font-size: 36px;
  }

  p {
    font-size: 14px;
  }

  .banner {
    max-height: 800px;
  }

  h4,
  .social__content .content__title {
    font-size: 18px;
  }


  .tabs {
    height: 425px;
    margin-top: 50px;
  }

  .tabs .content {
    height: 385px;

  }

  .tabs__inner-title .content__text {
    margin: 38px 0;
    height: 112px;
  }

  .awesome {
    height: 628px;
    padding-top: 45px;
  }

  .content__heading {
    font-size: 24px;
    padding: 30px 0;
  }

  .awesome__main {
    margin: 0 0 50px;
  }

  .content__desc {
    margin: 40px auto 0;
  }


  .pricing {
    height: 770px;
  }

  .pricing__main .main__section {
    max-height: 455px;
  }

  .reviews {
    height: 615px;
    padding-top: 50px;
  }

  .reviews__main {
    padding-top: 50px;
  }


  .banner-2 {
    height: 358px;
  }

  .contacts {
    height: 612px;
    padding-top: 50px;
  }

  .footer__image {
    max-width: 21%;
  }

  .main-nav__logo {
    padding-left: 25px;
  }

  .main-nav__list {
    padding-right: 15px;
  }
}


@media (max-width:767px) {
  .content__logo {
    display: none;
  }

  body.lock {
    overflow: hidden;
  }

  .page-header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    top: 19px;
    right: 6%;
  }

  .page-header::before {
    z-index: 3;
  }

  .page-header {
    height: 56px;
  }

  .page-header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .page-header__burger::before,
  .page-header__burger::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .page-header__burger::before {
    top: 0;
  }

  .page-header__burger::after {
    bottom: 0;
  }

  .page-header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .page-header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .page-header__burger.active span {
    transform: scale(0);
  }

  .main-nav__list {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: 60px 0 0 0;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    transition: all 0.3s ease 0s;
    overflow: auto;

  }

  .main-nav__list.active {
    top: 0;
    transition: all 0.3s ease 0s;
  }

  .main-nav__item {
    font-size: 26px;
    margin: 10px;
    min-width: 100%;
    height: 100px;
  }

  .main-nav__list {
    padding: 50px 0;
  }

  .container {
    width: 100%;

    padding: 0 15px;
  }

  .banner>.container {
    padding: 100px 50px;
  }

  .banner {
    min-height: 1010px;
  }

  .banner__inner {
    flex-direction: column;
    align-items: center;
  }

  .banner__content {
    max-width: 100%;
    text-align: center;
  }

  .separator {
    margin: 0 auto;
  }

  .banner__content .content__text {
    max-width: 100%;
    margin: 25px auto;
  }

  .content__title {
    height: 100%;
    margin-bottom: 25px;
  }

  .banner__form {
    width: 65%;
    margin-top: 5%;
  }

  .tabs {
    height: 425px;
    margin-top: 25px;
  }

  .tabs .content {
    height: 385px;

  }

  .tabs__inner-title .content__text {
    margin: 38px 0;
    height: 112px;
  }

  .tabs__inner-title {
    padding: 0 30px 25px 50px;
  }

  .footer__image {
    max-width: 8%;
  }

  .social__image {
    max-width: 80%;
  }
}

@media (max-width:590px) {
  .banner * {
    margin: 0;
  }
  .separator {
    margin: 43px auto;
}
  .banner>.container {
    padding: 25% 15px;
  }

  .banner__content .content__text {
    width: 100%;
    margin: 42px 0;
    text-align: center;
  }

  .banner__form {
    width: 100%;
    margin-top: 25px;
  }

  .social .container {
    flex-direction: column;

  }

  .social {
    min-height: 239px;
    text-align: center;
  }

  .social__content {
    width: 100%;
  }

  .content__img {
    display: none;
  }

  .tabs__inner-title {
    max-width: 100%;
  }

  .tabs>label {
    padding: 10px 30px;
  }

  .awesome {
    height: 1160px;
  }

  .awesome__main {
    flex-direction: column;
  }

  .pricing {
    height: 1800px;
  }

  .pricing__main {
    flex-direction: column;
    max-width: 100%;

  }

  .pricing__main .main__section {
    min-width: 100%;
    margin-bottom: 50px;
  }

  .reviews {
    min-height: 1500px;
  }

  .reviews__main {
    flex-direction: column;
  }

  .reviews__main>.main__section {
    width: 90%;
  }
  .content__btn {
    width: 100%;
    height: 50px;
  }
  .banner__btn--width {
    width: 100%;
  }
}



@media (max-width:321px) {
  .banner__content .content__title{
    font-family: Raleway;
font-size: 36px;
font-weight: 500;
line-height: 42px;
letter-spacing: 0em;
text-align: center;

  }
  .banner__btn {
    width: 100%;
} 
.banner__form {

  margin-top: 56px;
}
.separator {
  max-width: 41%;
}

.form__title {
  font-size: 14px;
}
.banner__form input {
  margin: 0 28px 30px 20px;
}
.form__btm{
  margin-top: 20px;
}


.tabs {
  height: 420px;
  margin-top: 51px;
}
.tabs>label {
  padding: 10px 25px; 
}

.content__title {
  font-size: 18px;
}
.tabs__inner-title {
  padding: 0 20px 25px 20px;}

  .tabs__inner-title .content__title {
    max-width: 100%;
    padding: 10% 25px;
    line-height: 25px;
    margin-bottom: 0;
  }
  .tabs__inner-title .content__text {
    margin: 30px 0 15px 0;
    text-align: center;
  }
  p{
    font-size: 13px;
  }
  .tabs__inner-title .content__text{
    height: 180px;
  }
  
}