@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url(./header.css);
@import url(./banner.css);
@import url(./social.css);
@import url(./tabs.css);
@import url(./awesome.css);
@import url(./pricing.css);
@import url(./reviews.css);
@import url(./banner-2.css);
@import url(./contacts.css);
@import url(./footer.css);
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  width: 1510px;
  min-width: 100%;
}
html{
  scroll-behavior: smooth;

}







